name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup environment
      run: |
        echo "PARENT_DIR=$(dirname $GITHUB_WORKSPACE)" >> $GITHUB_ENV
        echo "SHA_SHORT=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
        env

    - name: Get dependencies
      run: sudo apt-get update && sudo apt-get install -yq debhelper fakeroot
      env:
        DEBIAN_FRONTEND: noninteractive

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 21

    - name: Update npm
      run: npm install -g npm@latest

    - name: Clean npm cache
      run: npm cache clean --force

    - name: NPM Clean install
      run: npm ci

    - name: Build
      env: 
        GENERATE_SOURCEMAP: "false"
      run: |
        echo VITE_APP_GITREV=\"${{ github.sha }}\" >> .env
        npm run build

    - name: Archive raw artifacts
      uses: actions/upload-artifact@v4
      with:
        name: snapweb_raw_${{env.SHA_SHORT}}
        path: dist
        compression-level: 9

    - name: Create changelog
      run: |
        $GITHUB_WORKSPACE/debian/changelog_md2deb.py $GITHUB_WORKSPACE/changelog.md > $GITHUB_WORKSPACE/debian/changelog
        cat $GITHUB_WORKSPACE/debian/changelog

    - name: Create deb package
      env:
        GENERATE_SOURCEMAP: "false"
      run: |
        fakeroot make -f debian/rules clean
        fakeroot make -f debian/rules binary

    - name: Archive deb artifacts
      uses: actions/upload-artifact@v4
      with:
        name: snapweb_debian_package_${{env.SHA_SHORT}}
        path: ${{env.PARENT_DIR}}/snapweb_*.deb
